.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.home-cards {
    display: flex;
    align-items: end;
    justify-content: center;
    border: 2px solid white;
    height: 450px;
    width:320px;
    font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: xx-large;
    color: whitesmoke;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 3px black
}
.home-link {
    text-decoration: none;
}

.home-cards.left {
    background-image:url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExODcyZmRwYzJyNjg5aWI3eHRxMjBjZm01a2NtNjkxbXB1Z3cwZHNtcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VJO70pO7Lxevt0o8pp/giphy.gif');
}
.home-cards.right {
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTM4MmRoM291aXV2dG1pZGVzd2hucDZzNWVoeXloM3loaHkxbmNiayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0Iy4333qqHp3A9tC/giphy.gif');
}

.home-title {
    margin-top: 20px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 60px;
    color: whitesmoke;
}
.home-subtitle {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
    color: whitesmoke;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .home-title, .home-subtitle {
        text-wrap: balance;
        margin-bottom: 40px;
    }
    .home-cards {
    height: 225px;
    width:160px;
    margin-bottom: 30px;

    }
}
@media only screen and (max-height: 720px) {
    .home-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }
    .home-cards {
        height: 280px;
        width:200px;
        margin-bottom: 30px;
    }

}